<mjml>
  <mj-body background-color="#ffffff">
    <mj-section padding-bottom="10px" padding-top="10px">
      <mj-column width="100%" vertical-align="top">
        <mj-image href="https://foto-dino.de" src="../assets/logo.png" alt="Foto Dino logo" align="center" border="none" width="400px" padding="10px">
          Foto Dino Logo</mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="10px" padding-top="10px">
      <mj-column>
        <mj-text align="center">
          <h1>Wilkommen zu Foto Dino</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.<br /><br />Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
          </p>
        </mj-text>
        <mj-button background-color="#DCC635" font-size="13px" align="center" vertical-align="middle" border="none" padding="15px 30px" border-radius="3px" href="https://foto-dino.de" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10px">Jetzt buchen!</mj-button>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider border-width="3px" border-style="solid" border-color="black" />
      </mj-column>
    </mj-section>

    </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff">
      <mj-column width="100%" vertical-align="top">
        <mj-social>
          <mj-social-element name="facebook" href="[[SHORT_PERMALINK]]"> </mj-social-element>
          <mj-social-element name="instagram" href="[[SHORT_PERMALINK]]"> </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
          <p style="font-size:11px">Mit ❤️ von Foto Dino</p>
        </mj-text>
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
          <p style="font-size:11px">{unsubscribe_text}</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>